.content-contact{
    position: relative;
    text-align: center;
    height: 90vh;
    padding: 10vh 0 0;
}

.contact-body{
    position: relative;
    width: 40%;
    height: 60%;
    //border: 1px solid crimson;
    margin: 10vh auto 0;
}

.mail {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    height: 40%;
    /*animation: 5s linear 0s normal none infinite running mail;*/
}


.fb,
.gh,
.gh,
.st,
.tw,
.vk{
    position: absolute;
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
}



.contact-body:hover .mail,
.contact-body:hover .fb,
.contact-body:hover .gh,
.contact-body:hover .st,
.contact-body:hover .tw,
.contact-body:hover .vk{
    animation-play-state: paused;
}

