.header{
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    opacity: 1;
    //overflow: hidden;
}
.header-nav{
    max-width: 1366px;
    min-width: 910px;
    margin: 0 auto;
    background: #004f50;
    //background: #72428b;
}
.header-nav ul{
    margin: 0;
    padding: 0;
}
.header-nav ul li{
    display: inline-block;
    white-space: nowrap;
    width: 14.19%;
    margin-right: -5px;
    //padding: 15px 0;
    text-align: center;
}

.header-nav a{
    /*font-size: 18px;*/
    //font-size: 1.3vw;
    font-size: 100%;
    max-font-size: 18px;
    color: #ecf7fa;
    text-decoration: none;
    //padding: 20px 45px;
    padding: 20px 10px;
}
.header-nav a:first-child{
    padding: 0;
}
.head-link{
    padding: 15px 0;
}
.head-link:hover{
    background: #3b3b4a;
}

.fake-header{
    width: 100%;
    position: relative;
    top: 0;
    height: 0;
}
/**доработать лого*/

.logo_alex{
    height: 52px;
    margin: 0 0 -20px;
}

.logo_alex a{
    position: relative;
    //background-image: url('../jpg/logo_386x52.jpg');
    //background-position: 0 0;
    background: url("../img/jpg/logo_386x52.jpg") no-repeat 0 0;
    width: 193px;
    height: 52px;
    margin: 0px 0 -20px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.logo_alex a:hover {
    background-position: -193px 0;
    //background-position: 0 193px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}