html,
body,
.root{
    margin: 0;
    padding: 0;
    font-family:'Gotham-ExtraLight',Sans-Serif;
    background: #004f50;
}
.content{
    position: relative;
}
.content-body{
    max-width: 1364px;
    min-width: 910px;
    margin: 0 auto;
    text-align: center;
}

.invisible{
    opacity:0;
}
.visible{
    opacity:1;
}

.watermark{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 80px;
    z-index: -1;
    opacity: 0.1;
}

.next-link{
    position: absolute;
    bottom: 3vh;
    margin: 0 auto;
    right: 0;
    left: 0;

}

.next-link a{
    text-decoration: none;
    color: rgba(250,235,215,0.3);
    padding: 20px 42px;
}
.next-link a:hover{
    background: url("../img/png/down-arrow.png") no-repeat 0 13px;
    color: rgba(250,235,215,1);
}
#id-nav-hello-2 a:hover{
    background: url("../img/png/up-arrow.png") no-repeat 0 13px;
}
