/*НАВЫКИ*/
.content-skills{
    position: relative;
    text-align: center;
    height: 90vh;
    padding: 10vh 0 0;
}

/*.content-skills  div {*/
    /*display: inline-block;*/
/*}*/

/*.content-skills  div:first-child{*/
    /*width: 80vw;*/
/*}*/

/*.content-skills  div:last-child{*/
    /*width: 10vw;*/
/*}*/

.skills-body{
    display: inline-block;
}
.skills-canvas{
    float: left;
    position: relative;
    width: 80%;
}
.skills-info{
    float: right;
    white-space: pre;
    position: relative;
    width: 19%;
    margin: -30px 0 -100px -100px;
    height: 70vh;

    border: 1px solid crimson;
    font-family: "Fira Code";
    color: #01ab00;
    background: rgba(33, 22, 46, 0.78);
    font-size: 14px;
    text-align: left;
    padding: 10px;
    overflow: hidden;

}

.content-skills-to-works{
    position: absolute;
    bottom: 3vh;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.content-skills-to-works a{
    text-decoration: none;
    color: antiquewhite;
    padding: 20px 10px;
}